################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
/INV/INV.API/bin/Debug/net7.0/INV.API.dll
/INV/INV.API/bin/Debug/net7.0/INV.API.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Application.dll
/INV/INV.API/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.API/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.API/bin/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.API/obj/Debug/net7.0/INV.API.csproj.AssemblyReference.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.dll
/INV/INV.API/obj/Debug/net7.0/INV.API.pdb
/INV/INV.Application/bin/Debug/net7.0/INV.Application.dll
/INV/INV.Application/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.Application/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Application/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Application/obj/Debug/net7.0/refint/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.AssemblyReference.cache
/INV/INV.Application/obj/Debug/net7.0/ref/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.CoreCompileInputs.cache
/INV/INV.Application/obj/Debug/net7.0/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.pdb
/INV/INV.Domain/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Domain/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Domain/obj/Debug/net7.0/ref/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/refint/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Application.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.Infrastructure/obj/Debug/net7.0/ref/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/refint/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.csproj.AssemblyReference.cache
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.Application/obj/Debug/net7.0/INV.Application.assets.cache
/INV/INV.Application/obj/INV.Application.csproj.nuget.dgspec.json
/INV/INV.Application/obj/project.assets.json
/INV/INV.Application/obj/project.nuget.cache
/INV/.vs/INV/DesignTimeBuild/.dtbcache.v2
/INV/INV.API/obj/Debug/net7.0/INV.API.assets.cache
/INV/INV.API/obj/INV.API.csproj.nuget.dgspec.json
/INV/INV.API/obj/project.assets.json
/INV/INV.API/obj/project.nuget.cache
/INV/INV.Infrastructure/obj/project.assets.json
/INV/INV.Infrastructure/obj/project.nuget.cache
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.assets.cache
/INV/INV.Infrastructure/obj/INV.Infrastructure.csproj.nuget.dgspec.json
*.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.deps.json
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.csproj.CoreCompileInputs.cache
/INV/INV.API/bin/Debug/net7.0/INV.API.deps.json
/INV/INV.API/obj/Debug/net7.0/INV.API.csproj.CoreCompileInputs.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.csproj.FileListAbsolute.txt
/INV/INV.Application/bin/Debug/net7.0/INV.Application.deps.json
/INV/INV.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/INV/INV.API/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/INV/INV.API/bin/Debug/net7.0/appsettings.Development.json
/INV/INV.API/bin/Debug/net7.0/appsettings.json
/INV/INV.API/bin/Debug/net7.0/Azure.Core.dll
/INV/INV.API/bin/Debug/net7.0/Azure.Identity.dll
/INV/INV.API/bin/Debug/net7.0/INV.API.exe
/INV/INV.API/bin/Debug/net7.0/INV.API.runtimeconfig.json
/INV/INV.API/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/INV/INV.API/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.GeneratedMSBuildEditorConfig.editorconfig
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.FileListAbsolute.txt
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.CopyComplete
/INV/INV.Application/obj/Debug/net7.0/INV.Application.AssemblyInfoInputs.cache
/INV/INV.Domain/bin/Debug/net7.0/INV.Domain.deps.json
/INV/INV.Domain/obj/project.nuget.cache
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.GeneratedMSBuildEditorConfig.editorconfig
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.csproj.FileListAbsolute.txt
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.csproj.CoreCompileInputs.cache
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.csproj.AssemblyReference.cache
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.assets.cache
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.AssemblyInfoInputs.cache
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.AssemblyInfo.cs
/INV/INV.Application/obj/Debug/net7.0/INV.Application.AssemblyInfo.cs
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.AssemblyInfoInputs.cache
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.AssemblyInfo.cs
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.runtimeconfig.json
/INV/INV.API/obj/Debug/net7.0/staticwebassets.build.json
/INV/INV.API/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.INV.API.props
/INV/INV.API/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.INV.API.props
/INV/INV.API/obj/Debug/net7.0/staticwebassets/msbuild.build.INV.API.props
/INV/INV.API/obj/Debug/net7.0/refint/INV.API.dll
/INV/INV.API/obj/Debug/net7.0/ref/INV.API.dll
/INV/INV.API/obj/Debug/net7.0/INV.API.MvcApplicationPartsAssemblyInfo.cs
/INV/INV.API/obj/Debug/net7.0/INV.API.MvcApplicationPartsAssemblyInfo.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.genruntimeconfig.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.GeneratedMSBuildEditorConfig.editorconfig
/INV/INV.API/obj/Debug/net7.0/INV.API.csproj.CopyComplete
/INV/INV.API/obj/Debug/net7.0/INV.API.AssemblyInfoInputs.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.AssemblyInfo.cs
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.genruntimeconfig.cache
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.csproj.FileListAbsolute.txt
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.csproj.CopyComplete
*.v2
*.1
/INV/INV.API/obj/INV.API.csproj.nuget.g.props
