################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
/INV/INV.API/bin/Debug/net7.0/INV.API.dll
/INV/INV.API/bin/Debug/net7.0/INV.API.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Application.dll
/INV/INV.API/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.API/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.API/bin/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.API/bin/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.API/obj/Debug/net7.0/INV.API.csproj.AssemblyReference.cache
/INV/INV.API/obj/Debug/net7.0/INV.API.dll
/INV/INV.API/obj/Debug/net7.0/INV.API.pdb
/INV/INV.Application/bin/Debug/net7.0/INV.Application.dll
/INV/INV.Application/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.Application/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Application/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Application/obj/Debug/net7.0/refint/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.AssemblyReference.cache
/INV/INV.Application/obj/Debug/net7.0/ref/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.csproj.CoreCompileInputs.cache
/INV/INV.Application/obj/Debug/net7.0/INV.Application.dll
/INV/INV.Application/obj/Debug/net7.0/INV.Application.pdb
/INV/INV.Domain/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Domain/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Domain/obj/Debug/net7.0/ref/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/refint/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.dll
/INV/INV.Domain/obj/Debug/net7.0/INV.Domain.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Application.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Application.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Domain.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Domain.pdb
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.Infrastructure/bin/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.Infrastructure/obj/Debug/net7.0/ref/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/refint/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.csproj.AssemblyReference.cache
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.dll
/INV/INV.Infrastructure/obj/Debug/net7.0/INV.Infrastructure.pdb
/INV/INV.Application/obj/Debug/net7.0/INV.Application.assets.cache
/INV/INV.Application/obj/INV.Application.csproj.nuget.dgspec.json
/INV/INV.Application/obj/project.assets.json
/INV/INV.Application/obj/project.nuget.cache
/INV/.vs/INV/DesignTimeBuild/.dtbcache.v2
/INV/INV.API/obj/Debug/net7.0/INV.API.assets.cache
/INV/INV.API/obj/INV.API.csproj.nuget.dgspec.json
/INV/INV.API/obj/project.assets.json
/INV/INV.API/obj/project.nuget.cache
