################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
/INV/.vs/INV/FileContentIndex/9a004b43-f1aa-4e81-9cb9-3c00080c5139.vsidx
